.generalContainer .writeCodeWrap{
  flex-grow: 0;
  height: 100%;
  font-size: 12px;
  display: none;
}
.generalContainer #writeResume{
  flex-grow: 1;
  margin-left: 40px;
  background-color: rgb(246, 244, 240);
  overflow: auto;
  padding:0 30px;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
}
.generalContainer #writeResume .basicInformation{
  text-align: center;
  position: relative;
}
.generalContainer #writeResume .basicInformation img{
 position: absolute;
 width: 100px;
 top:15%;
 right: 25%;
}
h2{
  font-size: 19px;
  color: rgb(72, 106, 164);
  text-indent: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
#writeResume .basicInformation{
  margin-top: 30px;
}
#writeResume .basicInformation h1{
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 5px;
}
#writeResume .basicInformation p{
  margin-bottom: 8px;
  font-size: 17px;
}
#writeResume .skills{
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: 40px;
}

#writeResume .skills>ul{
  padding-top: 20px;
}
#writeResume .skills>ul>li{
  font-size: 17px;
  list-style: disc;
  padding: 15px 0;
}
#writeResume .skills>ul>li ul li{
  font-size: 16px;
  list-style: circle;
  text-indent: 15px;
  list-style-position: inside;
  min-height: 30px;
  line-height: 30px;
}
#writeResume .projectExp{
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  margin-top: 40px;
}
#writeResume .projectExp>ul{
  padding-top: 20px;
}
#writeResume .projectExp>ul>li{
  font-size: 17px;
  list-style: disc;
  padding: 15px 0;
}
#writeResume .projectExp>ul>li ul li{
  font-size: 16px;
  list-style: circle;
  text-indent: 15px;
  list-style-position: inside;
  min-height: 30px;
  line-height: 30px;
}
.mydemo{
  margin-right: 20px;
  cursor: pointer;
}
#ending{
  display: none;
 height: 30px;
 width: 150px;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
 position: fixed;
 line-height: 30px;
 text-align: center;
 cursor: pointer;
 border: 1px solid rgb(49, 92, 80);
 color: rgb(164, 82, 31);
 z-index: 100;
 background-color: rgb(214, 205, 203);
 animation-name: hidshow;
 animation-duration: 2s;
 animation-timing-function: ease;
 animation-direction: normal;
 animation-iteration-count: infinite;
}
